.btn_upload {
  background-color: rgb(42, 41, 41);
  width: auto;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  color: #fff;
  opacity: 0.8;
}
.btn_upload:hover {
  opacity: 0.6;
}
.btn_upload:active {
  outline: #fff;
  border: 2px solid black;
}
